.category-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin: 2rem;
}

.category-container button{
    padding: 0.1rem 1rem;
    border: var(--border-thick);
    background-color: var(--color-accent-light);
    color: var(--color-text);
    box-shadow: var(--shadow-medium);
    transition:
    background-color var(--transition-fast),
    transform var(--transition-fast),
    box-shadow var(--transition-fast);
    text-transform: uppercase;
    font-weight: 500;
}

.category-container button:hover {
  background-color: var(--color-accent);
  transform: var(--transition-fast);
  box-shadow: 1px 1px 0 var(--color-text);
}