.cta-container {
    position: relative;
    background-color: var(--color-background);
    color: var(--color-text);
}

.cta-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    min-height: 100px;
    background-color: var(--color-accent);
    color: var(--color-background);
    padding: 2rem 2.75rem;
    border-top: var(--border-thick);
}

.cta-content-text {
    gap: 1.5rem;
}

.cta-content-iconify {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 2.5rem;
}

.cta-icon {
    border: var(--border-standard);
    padding: 0.5rem;
    box-shadow: var(--shadow-small);
}

.cta-content-line {
    border: var(--border-light-white);
}