/* design system values */

/* Define local Norwester font */
@font-face {
  font-family: 'Norwester';
  src: url('../assets/fonts/norwester.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root {
  /* Colors */
  --color-background: #faf9f5;
  --color-surface: #ffffff;
  --color-text: #000000;
  --color-muted: #686862;
  --color-accent: #7d9277;
  --color-accent-light: #dce4d8;

  /* Borders and shadows */
  --border-standard: 1px solid var(--color-text);
  --border-light: 1px solid var(--color-accent);
  --border-thick: 3px solid var(--color-text);
  --border-thick-light: 4px solid var(--color-accent);
  --border-light-white: 2px solid var(--color-background);
  
  --shadow-small: 2px 2px 0 var(--color-text);
  --shadow-large: 7px 7px 0 var(--color-text);

  /* Typography */
  --font-heading:
    'Norwester',
    sans-serif;

  --font-body:
    "Manrope Variable",
    sans-serif;

  /* Transitions */
  --transition-fast: 150ms ease;
  --transition-standard: 250ms ease;
}
