.project-grid-container {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 1.5rem;
}

/* ProjectGridHeader */
.project-grid-header {
    display: grid;
    grid-template-columns: 1fr 1.9fr 1fr;
    align-items: center;
    width: 100%;
    padding: 1.5rem 2rem;
    gap: 2rem;
}

.project-grid-header-subtitle {
    width: 80%;
    padding-bottom: 1rem;
    border-bottom: var(--border-thick);
}

.project-grid-header-subtitle p {
    font-family: var(--font-heading);
    font-size: 1.5rem;
}

.project-grid-header-subtitle span {
    color: var(--color-accent);
}

.project-grid-header-description {
    justify-self: center;
    width: 100%;
}

.project-grid-header-button {
    justify-self: end;
}