.home-hero {
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
}

.main-hero, .hero-role, .hero-role-description, .hero-btn {
    display: flex;
    justify-content: center;
}

.main-hero {
    gap: 1.5rem;
    color: var(--color-text);
    padding: 1rem 20px;
    font-size: 1rem;
}

.main-hero p {
    display: inline-flex;
    align-items: center;
    gap: 0.35rem;
}

.hero-role {
    width: 100%;
}

.hero-title {
    flex-direction: column;
    text-align: center;
}

.hero-title-secondary {
    color: var(--color-accent);
    -webkit-text-stroke: 0.001rem black;
}
