.about-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    margin: 1.5rem;
    border: var(--border-thick);
}

.about-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

}